# .ebextensions/01_npm.config
commands:
  01_set_npm_proxy:
    command: |
      npm config set proxy http://proxy-url:port
      npm config set https-proxy http://proxy-url:port
  02_upgrade_npm:
    command: npm install -g npm@latest

container_commands:
  01_npm_install:
    command: |
      echo "Starting npm install..."
      npm install || npm install || npm install
    leader_only: false
