.table-wrapper,
.table-wrapper2 {
  width: 95%;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.table-wrapper {
  max-height: 500px;
  min-height: 500px;
  overflow-y: auto;
}

.table-wrapper2 {
  max-height: 200px;
  min-height: 200px;
  overflow-y: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;

}

th {
  background-color: #f2f2f2;
  text-align: left;
}



thead {
  border-bottom: 2px solid black;
}

.pagination {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.highlighted {
  background-color: #9d9d9d;
}

.create-button {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100px;
  height: 50px;
  background-color: #d9d9d9;
}

.filter-container {
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.filter-container input,
.filter-container select {

  border: 1px solid #9d9d9d;
  border-radius: 5px;
  font-size: 20px;
}

.radio-group {
  /* border: 2px solid #9d9d9d; */
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
  border-radius: 5px;
}

.radio-group .title {
  margin-right: 20px;
}
.radio-group .left {
  background-color: #d9d9d9;
  padding: 10px ;
  width: 100px ;
  justify-content: center;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 3px;
}

.divvv-title {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9d9d9;
  height: 100%;
  width: 99.9%;
  font-size: 1lh;
  font-weight: 1000;
  border: 1px solid #000000;
  padding-top: 5px;
  padding-bottom: 5px;
}

.divvv {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 100%;
  width: 50%;
  border: 1px solid #000000;
}

.divvv2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  height: 33.33333333%;
  width: 100%;
  border-right: 1px solid #000000;
  border-bottom: 1px solid #000000;
}

.divvv3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  border-left: 1px solid #000000;
}
.divvv3-title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 40%;
  font-size: 20px;
  border-left: 1px solid #000000;
  background-color: #d9d9d9;
}

.info {
  border: 3px solid #000000;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.popup-content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f5f5f5;
  padding: 20px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 2000px;
  height: 80%;
  overflow-y: auto;
  max-height: 80vh;
}

.popup-content h2 {
  margin-bottom: 20px;
}

.popup-content .form-group {
  margin-bottom: 20px;
}

.popup-content label {
  font-weight: bold;
}

.popup-content input[type="text"],
.popup-content textarea {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: none;
  height: auto;
}

.popup-content button {
  padding: 10px 20px;
  background-color: #9d9d9d;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.popup-content button:hover {
  background-color: #45a049;
}

.img {
  height: 90%;
  width: 90%;
}

.imgForm {
  background-color: #b7b7b7;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  padding: 1px 15px 15px;
  margin: 10px;
}

.but-group {
  display: flex;
  justify-content: center;
  align-items: center;
}

.but {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #d9d9d9;
  background-color: #d9d9d9;
  color: #000000;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;
  width: 30%;
}

.but:hover {
  background-color: #333333;
}

.but.active {
  background-color: #fedb56;
  border-color: #fedb56;
}

.popup-content::-webkit-scrollbar {
  display: none;
}



.filter-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.filter-table {
  border-collapse: collapse;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-top: 2%;
}

.filter-table td {
  padding: 5px 10px;
  padding: 15px ;
}

.filter-label {
  font-weight: bold;
  text-align: center;
  width: 100px;
  background-color: #D9D9D9;
  border: 1px solid #ddd;
  
}

.filter-input {
  width: 500px;
  text-align: left;
  border: 1px solid lightgray;
  border-right: none;
}

.action-buttons {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.reset-btn, .search-btn {
  background-color: #fff;
  color: white;
  border: none;
  border-radius: 4px;
  /* cursor: pointer; */
  padding: 8px 8px;
  font-size: 14px;
  margin: 0 5px;
}