files:
  "/etc/nginx/conf.d/vueapp.conf":
    mode: "000755"
    owner: root
    group: root
    content: |
      server {
          listen        80;
          server_name   _;

          location / {
              root   /var/app/current/dist;
              index  index.html index.htm;
              try_files $uri $uri/ /index.html;
          }

          error_page  500 502 503 504  /50x.html;
          location = /50x.html {
              root   /usr/share/nginx/html;
          }
      }
